.header {
  padding: 15px 0;
  position: relative;
  z-index: 2;

  #menu_button {
    display: none;
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .navigation {
    display: flex;
  }

  .navbar-menu {
    justify-content: center;
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      justify-content: flex-start;
      display: flex;
      align-items: flex-end;
      position: fixed;
      width: 300px;
      height: 100vh;
      left: -100%;
      flex-direction: column;
      background-color: $black;
      top: 0;
      padding: 20px;
      transition: all .3s ease;
    }
  }

  .navbar-menu.active {
    left: 0%;
  }

  .navbar {
    justify-content: flex-end;
    padding: 0;
  }

  .navbar-collapse {
    flex-basis: content;
    flex-grow: unset;
  }

  #menu-header {
    list-style: none;
    display: flex;
    margin: 0;

    > li {
      margin-left: 60px;
      @media screen and (max-width: 1024px) {
        margin-left: 20px;
      }
      @media screen and (max-width: 768px) {
        margin: 10px 0;
      }

      a {
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        color: $white;
        position: relative;
        padding-bottom: 10px;

        &:before {
          position: absolute;
          content: '';
          background: $yellow;
          width: 0;
          height: 3px;
          left: 0;
          bottom: 0;
          transition: width .3s ease;
        }

        &:hover, &:focus {
          text-decoration: none;
          color: $yellow;

          &:before {
            width: 100%;
          }
        }
      }
    }

    > li:first-child {
      margin-left: 0;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-end;
      padding: 0;
    }
  }

  .header__cart {
    display: block;
    background: url("../images/cart.svg") center center no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 50px;
    @media screen and (max-width: 768px) {
      margin: 0 20px;
    }
  }

  .header__search {
    width: 80px;
  }

  //menu button
  @media screen and (max-width: 768px) {


    #menu_button {
      position: relative;
      display:  inline-block;
      width: 30px;
      height: 30px;
      span {
        margin: 0 auto;
        position: relative;
        top: 12px;
        -webkit-transition-duration: 0s; transition-duration: 0s;
        -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
        &:before, &:after {
          position: absolute;
          content: '';
        }
      }
    }
    #menu_button span, #menu_button span:before, #menu_button span:after {
      width: 30px;
      height: 6px;
      background-color: $white;
      display: block;
    }
    #menu_button span:before {
      margin-top: -12px;
    }
    #menu_button span:after {
      margin-top: 12px;
    }

    #menu_button.active span {
      background-color: rgba(0,0,0,0.0);
      -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
    }
    #menu_button span:before {
      -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
      -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
      -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
    }
    #menu_button.active span:before {
      margin-top: 0;
      -webkit-transform: rotate(45deg); transform: rotate(45deg);
      -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
    }
    #menu_button span:after {
      -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
      -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
      -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
    }
    #menu_button.active span:after {
      margin-top: 0;
      -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
      -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
    }
  }
}
