.slider {
  position: relative;
  margin-top: -80px;
  z-index: 1;

  .slider__slide {
    max-height: 100vh;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;

    &::before {
      opacity: 0.9;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      content: '';
      background: rgb(252, 227, 138);
      background: linear-gradient(0deg, rgba(252, 227, 138, 1) 0%, rgba(243, 129, 129, 1) 100%);
    }

    .slider__slide-content {
      z-index: 3;
      color: $white;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      max-width: 820px;
      margin: 0 auto;


      .slider__slide-title {
        font-size: 72px;
        font-family: $title-font;
      }

      .slider__slide-text {
        font-size: 150px;
        text-transform: uppercase;
        line-height: 0.9;
        font-weight: bold;
        position: relative;
        padding-bottom: 70px;
        margin-bottom: 50px;

        &::before {
          position: absolute;
          content: '';
          bottom: 0;
          left: calc(50% - 30px);
          width: 60px;
          background: $white;
          height: 3px;
        }
      }

    }
  }

  .swiper-pagination {
    display: flex;
    bottom: 90px !important;
    max-width: 1200px;
    margin: 0 auto;
    left: 50% !important;
    transform: translateX(-50%);

    .swiper-pagination-bullet {
      flex: 1 1 10%;
      height: 3px;
      background: $white;
      opacity: 1;
      border-radius: 0;
      display: flex;
      justify-content: flex-start;
      position: relative;
      margin: 0 30px 0 0 !important;

      &:last-child {
        margin: 0 !important;
      }

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 25%;
        height: 100%;
        content: '';
        background: transparent;
      }

      p {
        padding: 30px 0;
        font-size: 18px;
        color: $white;

        span {
          font-size: 24px;
          font-weight: bold;
        }
      }
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      &::before {
        background: $pink;
      }
    }
  }

}