@import "vars";
@import "header";
@import "search";
@import "slider";
@import "blog";

body {
  font-family: $font;
}
.of-cover {
  width: 100%;
  object-fit: cover;
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.button {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 30px;

  &:hover {
    text-decoration: none;
  }
}

.button.hollow {
  border: 3px solid $white;
  color: $white;
  background: transparent;
  transition: all .3s ease;

  &:focus, &:hover {
    background: $white;
    color: $black;
  }
}

.section {
  .section__header {
    padding-bottom: 40px;

    .section__title {
      font-family: $title-font;
      font-size: 24px;
    }

    .section__subtitle {
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      padding-bottom: 40px;
      position: relative;

      &::before {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        max-width: 60px;
        transform: translateX(-50%);
        content: '';
        background: $pink;
        height: 3px;
      }
    }
  }
}

.post-views {
  background: url("../images/view.svg") left center no-repeat;
  padding-left: 30px;
  margin-right: 20px;
  font-size: 14px;
}
.post-comments{
  padding-left: 30px;
  font-size: 14px;
  background: url("../images/comm.svg") left center no-repeat;
}