@import "vars";
@import "header";
@import "search";
@import "slider";

body {
  background-color: #0c5460;
  font-family: $font;
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.button {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 30px;

  &:hover {
    text-decoration: none;
  }
}

.button.hollow {
  border: 3px solid $white;
  color: $white;
  background: transparent;
  transition: all .3s ease;

  &:focus, &:hover {
    background: $white;
    color: $black;
  }
}